<% if @form %>
  <button type="submit" class="<%= button_classes %>" <%= @options.map { |k, v| "#{k}=\"#{v}\"" }.join(" ") %>>
    <%= @label %>
  </button>
  <% else %>
    <%= link_to @label, @url, method: @method, class: button_classes, **@options %>
  <% end %>
