<div class="setup-success">
  <div class="mb-4 is-flex is-flex-direction-column is-align-items-center">
    <h1 class="title">Successfully created admin user</h1>
    <p>You can now log in with your new admin account.</p>
  </div>
  <%= link_to "Go to login", root_path, class: "button" %>
</div>
